<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a href="." class="logo">
      <img
        class="navbar-brand"
        width="100%"
        src="assets/logos/logo.png"
        alt="logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            [href]="'/pokemon'"
            (click)="isMenuCollapsed = !isMenuCollapsed"
            >Pokémon</a
          >
        </li>
        <li class="nav-item">
          <div class="col p-0">
            <div ngbDropdown class="d-inline-block">
              <button
                type="button"
                class="nav-link"
                id="games"
                ngbDropdownToggle
              >
                Games
              </button>
              <div ngbDropdownMenu aria-labelledby="games">
                <button
                  ngbDropdownItem
                  *ngFor="let game of games"
                  class="text-capitalize"
                >
                  {{ game.name }}
                </button>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="col p-0">
            <div ngbDropdown class="d-inline-block">
              <button
                type="button"
                class="nav-link"
                id="generations"
                ngbDropdownToggle
              >
                Generations
              </button>
              <div ngbDropdownMenu aria-labelledby="generations">
                <button
                  ngbDropdownItem
                  *ngFor="let generation of generations"
                  class="text-capitalize"
                >
                  {{ generation.name }}
                </button>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [href]="'.'"
            (click)="isMenuCollapsed = !isMenuCollapsed"
            >Locations</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [href]="'.'"
            (click)="isMenuCollapsed = !isMenuCollapsed"
            >Items</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
