<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <img
      class="navbar-brand logo"
      src="assets/logos/logo.png"
      alt="logo"
      [routerLink]="'.'"
    />
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="col p-0">
            <div ngbDropdown class="d-inline-block">
              <button
                type="button"
                class="nav-link"
                id="dropdownBasic1"
                ngbDropdownToggle
              >
                Toggle dropdown
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="col p-0">
            <div ngbDropdown class="d-inline-block">
              <button
                type="button"
                class="nav-link"
                id="dropdownBasic1"
                ngbDropdownToggle
              >
                Toggle dropdown
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'.'"
            (click)="isMenuCollapsed = !isMenuCollapsed"
            >Examples</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'.'"
            (click)="isMenuCollapsed = !isMenuCollapsed"
            >About</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
