<footer class="text-light">
  <div
    class="container py-5 d-flex flex-column flex-md-row justify-content-between"
  >
    <img src="assets/logos/pokemon-logo.png" alt="pokemon-logo" class="logo" />
    <div class="d-flex flex-column contact">
      <span>
        Contact:
        <a
          href="https://www.linkedin.com/in/truongvh/"
          target="_blank"
          class="mx-3"
          ><i class="fa fa-linkedin-square" aria-hidden="true"></i
        ></a>
        <a href="https://github.com/truongvh080999" target="_blank"
          ><i class="fa fa-github-square" aria-hidden="true"></i
        ></a>
      </span>
      <span>HCG Challenge</span>
      <span>Developed by Truong Vu</span>
    </div>
  </div>
</footer>
